html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
acronym,
address,
cite,
code,
del,
dfn,
em,
font,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
textarea,
input,
button,
legend,
table,
caption,
tbody,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
a:focus, a:hover{
	text-decoration: none;
}
/*清除浮动*/
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}
/*去除点击高亮效果*/
a,
button,
input,
textarea,
select,
img,
label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: medium none;
}
input::-moz-focus-inner {
    border: none;
    padding: 0;
}
select,
input {
    vertical-align: middle;
}
/*去掉苹果的默认UI来渲染按钮*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: none;
}
/*placeholder文本颜色*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999999;
}


